* {
  font-family: "sans";
}
.MoveLikeStartup-h2-bold {
  font-weight: bolder;
}
.MoveLikeStartup-wrapper {
  width: 100vw;
  height: auto;
}
@media (max-width: 998px) {
  .MoveLikeStartup-wrapper {
    width: 80vw;
    height: auto;
  }
}
