*{
  font-family: 'Quicksand'
}

.web-card {
  display: flex;
  text-align: left;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
.web-card-left {
  width: 65%;
}
.web-content {
  font-size: 1.2em;
}
.code-content {
  border-radius: 6px;
  padding: 15px;
  white-space: pre-wrap;
  background-color: rgba(119,136,153,0.08)
}
.img {
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.fact-heading {
  font-weight: bold;
}
.fact-text {
  color: inherit;
}
.bottom-btns{
  margin-left: auto;
  margin-right: auto;
}
.web-svg {
  z-index: -1;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.main-quiz-area {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}
.quiz-card {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 5%;
  background-color: white;
  padding: 3%;
  text-align: left;
}
.instructions {
  font-size: 1.2em;
}
.question-box {
  width: 80%;
  padding: 2%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: #E5ECF4;
  font-size: 1.4em;
  border-radius: 8px;
}
.blank {
  border: none;
}
.check-button {
  width: 15%;
  border: none;
  padding: 8px;
  color: white;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
  font-size: 1.2em;
  border-radius: 8px;
}
.arrow-btns {
  text-align: center;
  border: none;
  border-radius: 20px;
  margin-top: 5%;
  color: #555;
  background-color: #E5ECF4;
  width: 40px;
  height: 40px;
}
ul .draggable {
  will-change: transform;
  font-family: inherit;
  list-style-type: none;
  margin: 10px;
  background-color: rgb(238, 179, 22, 0.2);
  width: 90%;
  border-radius: 8px;
  line-height: 3.2;
  padding-left: 10px;
  cursor: move;
  transition: all 200ms;
  user-select: none;
  margin: 10px auto;
  position: relative;
}
.over {
  transform: scale(1.1, 1.1);
}


.main-area{
    height: 100vh;
    width: 95%;
    font-family: 'Montserrat';
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 800;
}
.head{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
     text-align: left;
}

.form-card {
  width: '50%';
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.logo {
    margin-right: 6%;
    margin-left: 3%;
    margin-top: 1%;
}
.subject {
    color: #888888;
    font-size: 1.1em;
     margin-right: 2%;
}
.chapter {
  text-align: center;
  appearance: none;
  width: auto;
    font-size: 1.3em;
    margin-top: -0.4%;
    font-weight: 700;
    color: #2e3f5a;
    border: 0;
    background-color: #e4eefa;
    opacity: 0.7;
    border-radius: 0.5rem;
    border-bottom: 0.15rem solid #2174f0;
}

.question-mark-circle {
    display: inline;
}
.question-mark {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #bbb;
    text-align: center;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.question-area {
    width: 100vw;
    padding-bottom: 1rem;
    background-color: rgba(246,248,250,255);
    height: auto;
    bottom: 0;
}

.question {
    display: flex;
    background-color: white;
    margin-right: auto;
    width: 95%;
    height: auto;
    padding: 1%;
    padding-top: 1.5%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.lhs {
    display: flex;
    flex-direction: column;
}
.rhs {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 2%;
    margin-left: 1%;
}
.question-text {
    font-size: 1.3em;
    color: #333;
}
.arrow-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.mark-done {
    --color: #fff;
    --background: lightblue;
    --height: 41px;
    --width: 160px;
    --icon: #fff;
    padding: 0;
    cursor: pointer;
    text-align: center;
    position: relative;
    border: none;
    outline: none;
    background: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    width: var(--width);
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color);
    line-height: var(--height);
  }
  .mark-done i{
      display: none;
  }
  .mark-done:before, .mark-done:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .mark-done:before {
    transform: translate(-50%, -50%);
    width: var(--before-w, var(--width));
    height: var(--before-h, var(--height));
    border-radius: var(--before-r, 7px);
    background: var(--background);
    transform-origin: 50% 50%;
    transition: width 0.3s, height 0.3s, border-radius 0.2s;
    transition-delay: 0.2s;
  }
  .mark-done:after {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: var(--icon);
    z-index: 2;
    border-radius: 50%;
    transform: scale(0);
    background-color: lightblue;
  }
  .mark-done span {
    z-index: 1;
    display: block;
    position: relative;
    opacity: var(--span-o, 1);
    transform: scale(var(--span-s, 1));
    transition: opacity 0.3s, transform 0.2s;
    transition-delay: 0.2s;
  }
    .mark-done svg {
        width: 15px;
        height: 13px;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        stroke: var(--icon);
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        transform: translate(-50%, -50%);
        stroke-dasharray: 17px;
        stroke-dashoffset: var(--svg-o, 17px);
        transition: stroke-dashoffset 0.3s ease;
    }
  .mark-done.processing {
    --before-w: 41px;
    --before-h: 41px;
    --before-r: 22px;
    --span-o: 0;
    --span-s: .6;
    --after-s: 1;
    --svg-o: 34px;
  }
  .mark-done.processing:before {
    -webkit-animation: pulse 3s linear forwards;
            animation: pulse 3s linear forwards;
  }
  .mark-done.processing:after {
    -webkit-animation: dot 3s linear forwards;
            animation: dot 3s linear forwards;
  }
  .mark-done.processing svg {
    transition-delay: 3s;
  }
  .tick{
    border: none;
    width: 41px;
    height: 41px;
    margin: -8px 0 0 -8px;
    border-radius: 50%;
    background-color: lightblue;
    color: white;
    text-align: center;
  }
  .tick span{
      display: none;
  }
  .tick svg{
      display: none;
  }
  
  @-webkit-keyframes pulse {
    4% {
      transform: translate(-50%, -50%) scaleX(1.1);
    }
    8% {
      transform: translate(-50%, -50%);
    }
    24%, 56%, 88% {
      transform: translate(-50%, -50%) scale(0.8);
    }
    40%, 72% {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
  
  @keyframes pulse {
    4% {
      transform: translate(-50%, -50%) scaleX(1.1);
    }
    8% {
      transform: translate(-50%, -50%);
    }
    24%, 56%, 88% {
      transform: translate(-50%, -50%) scale(0.8);
    }
    40%, 72% {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
  @-webkit-keyframes dot {
    8% {
      transform: scale(0);
    }
    16% {
      transform: scale(1) rotate(30deg) translateX(48px);
    }
    95% {
      transform: scale(1) rotate(1000deg) translateX(48px);
    }
    100% {
      transform: scale(0.125) rotate(1050deg) translate(52px, -6px);
    }
  }
  @keyframes dot {
    8% {
      transform: scale(0);
    }
    16% {
      transform: scale(1) rotate(30deg) translateX(48px);
    }
    95% {
      transform: scale(1) rotate(1000deg) translateX(48px);
    }
    100% {
      transform: scale(0.125) rotate(1050deg) translate(52px, -6px);
    }
  }
.arrow-button {
    width: 40px;
    height: 40px;
    margin-bottom: 100px;
    background-color: rgb(246,248,250);
    color: black;
    border: none;
    border-radius: 8px;
    margin-right: 15px;
}
.info {
  color: #888;
  font-size: 1.15em;
  font-weight: 100;
  font-style: italic;
  width: 100%;
  text-align: left;
  margin-top: -20px;
  margin-bottom: 20px;
}
.chapter-tile {
    padding-top: 2%;
    display: flex;
    width: 95%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
.question-tile {
    overflow-x: hidden;
    padding-top: 2%;
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
.image {
    border-radius: 12px;
    width: 70%;
    height: auto;
}
.arrow{
  position: absolute;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 1.3em;
  color: #888
}
.arrow:hover{
  cursor: pointer;
  color: #333;
}
.chapter-buttons {
    border: none;
    background-color: #e4eefa;
    color: #333;
    font-weight: 600;
    font-size: 0.8em;
}
.chapter-buttons-title {
    border: none;
    background-color: #e4eefa;
    color: #333;
    font-weight: 700;
    font-size: 0.9em;
}
.year-buttons {
    border: none;
    background-color: white;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    width: 100px;
}
.selected-chapter {
    background-color: rgba(51,131,249,255);
    color: white;
}
.question-no-tile {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    justify-content: space-around;
   margin-left: 1.5rem;

}
.question-no {
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    color: #333;
    font-weight: bold;
    background-color: white;
}
.completed-question-no {
  width: 3.5rem;
    height: 3.5rem;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    font-weight: bold;
    background-color: green;
    color: white;
}
.session-buttons {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: #333;
    font-weight: bold;
    background-color: white;
}
.opt {
    display: flex;
    justify-content: start;
    background-color: none;
    font-size: 1.2em;

}
.opt-label {
    margin-left:5px;
    font-size: 1.1em;
}

.red {
    color: red;
}
.progress-box {
  margin-top: 0.3rem;
    width: 4.5rem;
}
.video-box {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 2%;
    padding-left: 3%;
    width: 90%;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 12px;
}
.see-solution-button {
    background-color: white;
    border: none;
    width: 50%;
    font-size: 1.5em;
    font-weight: bold;
}
.video {
    width: 80%;
    padding-left: 2%;
    margin-top: 1.5%;
}
.bottom-bar {
   
    background-color: white;
    padding: 1rem 2%;
    width: 90%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 12px;
}
.btm-btn {
    background-color: #0d6efd;
    padding: 5px;
    width: 150px;
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    border: none;
    height: 40px;
    border-radius: 8px;
}
.doubt-star {
    font-size: 2em;
    border: none;
    height: 30px;
    background-color: white;
}
#star {
    font-size: 1em;
}
.starbox .animatedstar {
    display: inline-block;
    margin: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative;
    cursor: pointer;
}

.question .starbox {
    font-size: 2em;

}

.gold {
    color: gold;
}

.default {
    color: lightblue;
}


.starbox:active i {
    animation: change 1s forwards;
}

@keyframes change {
    50% {
        transform: scale(0);
        filter: grayscale(100%)
    }

    51% {
        filter: grayscale(0%)
    }

    100% {
        transform: scale(1);
        filter: grayscale(0%)
    }
}

.fullscreen1 {
    background-color: grey;
    width: 50px;
    
  }
.form-area{
  padding: 5%;
  text-align: left;
  height: 100vh;
  width: 100vw;
  background-color: rgba(248,250,252,255);
}
.outer {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 5%;
}
.group {
  height: auto;
  display: flex;
  justify-content: space-around;
}

.instructions{
  color: #555;
  letter-spacing: 0.5px;
  padding-left: 2%;
}
.start {
  margin-left: auto;
  margin-right: auto;
}
.top-bar {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 98%;
  display: flex;
  justify-content: space-between;
}
.candidate-info {
  text-align: left;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
}
.details{
  text-align: left;
  margin-left: 10px;
  height: 100%;
  width: 100%;
}
.details-text{
  text-align: left;
  width: 150px;
}
.details-values{
  font-weight: bold;
  color: orange
}
.time{
  display: inline;
  background-color: #2098db;
  width: 150px;
  font-size: 1.1em;
  color: white;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 12px;
}
.middle-bar{
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100vw;
  background-color: orange;
}
.jee-title{
  font-size: 1.8em;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  padding-top: 5px;
}
.blue-button{
  padding: 10px;
  width: auto;
  border: none;
  background-color: #337ab7;
  color: white;
  margin-left: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}
.language{
  text-align: left;
  color: white;
  font-weight: bold;
}
.question-section{
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.question-content{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 5%;
  padding-right: 2%;
  margin-top: 2.5%;
  text-align: left;
}
.question-text{
  font-size: 1.4em;
}
.buttons-group{
  display: flex;
  flex-wrap: wrap;
}
.side-buttons{
  width: 30%;
  display: flex;
  flex-direction: column;
}
.not-visited{
  display: inline;
  padding: 7px;
  background-image: linear-gradient(#e4e4e4, #f3f4f3);
  border: 1.5px solid #a1a0a0;
  border-radius: 6px;
  width: 40px;
  height: 35px;
  margin-bottom: 5px;
}
.not-visited:hover{
  cursor: pointer;
}
.button-info{
  padding-right: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.not-answered{
  border-left: 40px solid #e34401;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	height: 40px;
  display: inline;
  margin-right: 2px;
}
.not-answered:hover{
  cursor: pointer;
}
.text{
	position: absolute;
  margin-left: -25px;
  margin-top: -5px;
	color: white;
  font-size: 1em;
}
.answered{
  margin-right: 2px;
  border-left: 40px solid #2ec203;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	height: 40px;
  display: inline;
}
.marked-for-review{
  background-image: linear-gradient(#8462bc, #471b8d);
  width: 40px;
  height: 40px;
  border: none;
  color: white;
  border-radius: 50%;
}
.marked-for-review 
.green-dot{
  background-color: #3ff90e;
  width: 15px;
  display: inline;
  position: absolute;
  height: 15px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: -5px;
}
.options{
  background-color: white;
}
.save{
  letter-spacing: 2px;
  width: 200px;
  height: 40px;
  background-color: #2ec203;
  margin-left: 5px;
  border: none;
  color: white;
  font-weight: bold;
}
.save-and-mark{
  text-align: center;
  letter-spacing: 2px;
  width: 300px;
  height: 40px;
  background-color: orange;
  margin-left: 5px;
  border: none;
  color: white;
  font-weight: bold;
}
.clear{
  letter-spacing: 2px;
  width: 200px;
  height: 40px;
  background-color: white;
  margin-left: 5px;
  border: 1.5px solid grey;
  color: black;
  font-weight: bold;
}
.mark-and-next{
  margin-top: 5px;
  letter-spacing: 2px;
  width: 300px;
  height: 40px;
  background-color: #337ab7;
  margin-left: 5px;
  border: none;
  color: white;
  font-weight: bold;
  text-align: center;
}
.options:hover{
  background-color: lightblue;
}
.finish{
  margin-top: 5px;
  letter-spacing: 2px;
  width: 300px;
  height: 40px;
  background-color: red;
  margin-left: 5px;
  border: none;
  color: white;
  font-weight: bold;
  text-align: center;
}
.score-main {
  width: 100vw;
  height: auto;
  background-color: rgba(248,250,252,255);
  padding: 5%;
}
.score-bar {
  width: 100%;
  background-color: white;
  padding: 15px;
  padding-left: 12%;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px
}
.score-number {
  font-size: 6rem;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px #CDCDCD;
}
.details{
  width: 40%;
  text-align: right;
}
.subject{
  font-size: 1.1em;
}
.metrics {
  margin-top: 3%;
  width: 100%;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  text-align: left;
}
.cards-collection {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.metric-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 200px;
  width: 180px;
  background-color: rgba(144,238,144, 0.3);
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 12px;
}
.topics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.topic {
  color: #666;
  font-size: 1em;
}

.question-bar {
  width: 10%;
  margin-top: 2%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.option-button{
    display: block;
    width: 50%;
    text-align: center;
    justify-content: space-between;
    margin: 15px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #a7a7a7;
    border-radius: 8px;
}

.question-card {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
}

.question-card h5 {
  font-size: 1.05em;
}

.option-area {
  font-size: 0.8em;
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.alert {
  width: 45%
}

.question-number {
  text-align: left;
  display: flex;
  justify-content: space-around;
  width: 25%;
  margin-bottom: 2.5%;
  font-size: 1.3em;
}

.question-number:hover {
  cursor: pointer;
}

@media screen and (max-width: 995px) {
.image{
 width: 50%;
}
.opt
{
  font-size: 0.95em;
}
.chapter-buttons
{
    font-size: 0.8em;

}

}