.login-index-main {
  height: 100vh;
  padding: 10px;
}
.login-index-row {
  margin: auto;
  height: 100%;
  width: 100%;
  border: 10ox solid black;
}
.login-index-fixed-row {
  height: 80vh;
  margin: auto;
  width: 80vw;
  margin-top: 50px;
}
.login-index-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}
.login-index-login-page {
  height: 100%;
}
.login-index-login-page {
  background-color: aqua;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.signin-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label {
  float: left;
}
.form-group-check-text {
  display: flex;
  row-gap: 10px;
}
.text-bg {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: center;
  background: url("../images/first-screen-bg.jpg");
}
@media (max-width: 998px) {
  .login-index-row {
    height: auto;
  }
}
