html {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Quicksand";
}
a:hover {
  cursor: pointer;
  color: #eeb316;
}
.medal {
  height: 30px;
}
.trash {
  height: 16px;
  width: 16px;
}
label {
  font-weight: bold;
}
.arrow-btns {
  background-color: #eeb316;
  color: white;
}
.attendance-card {
  width: 300px;
  background-color: #00363b;
  color: white;
  border-radius: 8px;
  padding: 2%;
}
input[type="checkbox"] {
  display: block !important;
}
.edit {
  height: 15px;
}
.edit:hover {
  cursor: pointer;
}
.subject-name {
  font-weight: bold;
  color: #eeb316;
}
.cell-border {
  border-left: 3.5px solid #eeb316 !important;
}
.schedule-heading {
  background-color: #00363b;
  color: white;
  height: 50px;
}
.schedule-row {
  height: 70px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.schedule-cell {
  padding-left: 2%;
  padding-top: 2%;
  border-left: 3.5px solid #eeb316 !important;
  border-right: 2px solid #eee;
  color: #eeb316;
  font-weight: bold;
}
.btn-rounded {
  border: none;
  background-color: #eeb316;
  color: white;
  padding: 1.5%;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  font-weight: bold;
  letter-spacing: 1.2px;
}
/* .title{
    padding: 10px;
    background-color: #00363b;
    color: white;
    letter-spacing: 2.2px;
    width: 95%;
    padding-left: 20px;
  } */

table {
  overflow-x: scroll;
}
.main {
  padding-left: 5%;
  margin-top: 10%;
}
.i {
  background-color: inherit;
  color: white;
  border: none;
}
.i:hover {
  cursor: pointer;
}
.menu {
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  border-bottom: 1px solid #eee;
}
@media (max-width: 650px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
}
.menu .item {
  padding: 18px 28px;
  cursor: pointer;
  transition: color 0.3s ease-out;
  text-decoration: none;
  color: #111;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 12px;
  margin: 5px 0;
}
.menu .item.active {
  color: #fff;
}
.menu .indicator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
}
.label {
  font-weight: bold;
  color: darkslategray;
}

.class-card {
  width: 45%;
  height: 150px;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.class-card-left {
  background-color: #00363b;
  color: white;
  width: 30%;
  text-align: center;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
.class-card-top {
  background-color: #00363b;
  color: white;
  height: 35%;
  text-align: left;
  padding: 3%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.class-card-right {
  padding: 10px;
  display: flex;
}

.link {
  text-decoration: none;
  color: #00363b;
}
.link:hover {
  cursor: pointer;
}

.table-heading {
  font-weight: bold;
  color: slategray;
}

.question-no {
  font-weight: 800;
  width: 100%;
  text-align: center;
  color: #eeb316;
}
.question-card {
  width: 75%;
  padding: 5%;
  border: 1px solid #eee;
  margin-left: auto;
  margin-right: auto;
}
.question-card h2 {
  font-size: 1.65em;
  color: #666;
}

.option-button {
  border: none;
  border-radius: 25px;
  background-color: rgba(238, 179, 22, 0.2);
}

.opt-selected {
  background-color: #eeb316 !important;
  color: white !important;
}
.login-as-card {
  width: 75%;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 5%;
}
.login-as-img {
  height: 10%;
}
.admin:hover {
  cursor: pointer;
}
