.login-index-main {
  height: 100vh;
  padding: 10px;
}

.login-index-fixed-row {
  height: 80vh;
  margin: auto;
  width: 80vw;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: -1px 1px 24px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 1px 24px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 1px 24px 0px rgba(0, 0, 0, 0.25);
}
.login-index-rows {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
.Login-first-column-Page {
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.login-index-login-page {
  height: 100%;
  background-color: aliceblue !important;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.signin-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label {
  float: left;
}
.form-group-check-text {
  display: flex;
  row-gap: 10px;
}
.text-bg {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: center;
  /* background: url("../../images/first-screen-bg.jpg");
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center bottom;
  object-position: center bottom; */
  background-image: linear-gradient(
    to right top,
    #c9002e,
    #d7173d,
    #e5274c,
    #f2345c,
    #ff416c
  ) !important;
  color: #ffffff;
}
.Login-tabs-style .Login-js-greeting {
  font-weight: 500;
  margin-top: 10px;
  font-size: medium;
}
.Login-tabs-style {
  height: 100%;
  width: 100%;
}
.Login-googleButton {
  display: block;
  align-self: center;
  border: none;
  margin: 10px;
  /* background-color: #fff; */
  width: fit-content;
  text-transform: none;
}
.Login-login-index-main-textfields {
  display: flex;
  flex-direction: column;

  margin-left: 10px;
}
.Login-greeting-Buttons {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.Login-OR {
  font-size: larger;
  font-weight: 900;
}
.Login-create-Account-text {
  display: flex;
  flex-direction: column;
}
.Login-signup-tab {
  height: 100%;
}
@media (max-width: 996px) {
  .login-index-row {
    height: auto;
  }
  .login-index-login-page {
    /* height: 100vh; */
    height: 100%;
    /* background-color: aqua; */
    background-color: #fff;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
  .Login-signup-tab {
    height: min-content;
    display: flex;
    flex-direction: column;
  }
  .signin-form {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
