/* .HeroSection-main-row {
  height: 600px;
} */
.HeroSection-header-text {
  font-weight: bolder;
  color: black;
}
.HeroSection-btn-color {
  color: "#1da1f2";
  width: 250px;
}
.Hero-Padding {
  padding: 50px;
}

.HeroSection-anil-kapoor-title {
  width: auto !important;
  min-width: auto;
}

.HeroSection-image-row {
  height: 500px;
  width: 450px;
}
.HeroSection-anil-kapoor-title img {
  max-width: 400px;
}
@media (max-width: 998px) {
  .HeroSection-image-row {
    height: 205px;
    width: 450px;
  }
  .HeroSection-anil-kapoor-title img {
    max-width: 200px;
  }
}
